{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="d-flex flex-column bd-highlight gap-3">
  <div class="d-flex justify-content-end">
    <div class="gap-3" data-toggle="buttons">
      <button type="button" class="btn btn-dark"><a class="text-white text-decoration-none" href="#" id="option1">CSV</a></button>
      <button type="button" class="btn btn-dark"><a class="text-white text-decoration-none" href="#" id="option1">JSON</a></button>
      <button type="button" class="btn btn-dark"><a class="text-white text-decoration-none" href="#" id="option1">PDF</a></button>
    </div>
  </div>
 
  <table class="table border border-success">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Company Name</th>
        <th scope="col">Contact Name</th>
        <th scope="col">Contact Title</th>
        <th scope="col">City</th>
        <th scope="col">Region</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customer_list%}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{customer.companyname}}</td>
        <td>{{customer.contactname}}</td>
        <td>{{customer.contacttitle}}</td>
        <td>{{customer.city}}</td>
        <td>{{customer.region}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}